.top-container {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 100px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #ccc;
}

.chat-container {
    width: 580px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: thin;
}

.chat-messages {
    flex: 1;
    padding-bottom: 40px;
}

.chat-messages .chat-message:last-child {
    margin-bottom: 66px;
}

.chat-message {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 35px;
}

.avatar {
    margin-right: 10px;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username {
    font-weight: bold;
}

.input-container {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: #333333;
}

.input-message {
    flex: 1;
    height: 40px;
    border-radius: 5px;
    color: #333333;
    opacity: 0.7;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.input-message::placeholder {
    color: #333333;
    opacity: 0.7;
}

.chat-user {
    margin-bottom: 60px;
}